* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
    text-align: center;
}

.title {
    color: white;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.square {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}